// cbb-color-variables
$color-red: #98012D;
$color-white:#ffffff;
$color-red-light:#FFC3CB;
$color-gray:#333333;
$color-black:#000000;
$color-light-gray:#F7F7F7;
$color-light-gray2:#EDEDED;
$color-light-gray3:#DEDEDE;
$color-light-gray4:#AAAAAA;
$display-inline: inline-block;
$display-block: block;
$display-flex: flex;
$relative-pos:relative;

$font-85: 75px;
$font-80: 80px;
$font-60: 60px;
$font-20: 20px;
$font-30: 30px;
$font-36: 36px;
$font-40: 40px;
$font-22: 22px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;

